@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Metal+Mania&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;

}

body{
    background-color: #121212;
}

/*              HEADER                   */


.btnConnection{ /*En faire un bouton*/
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: #9c0000;
    margin-left: 96%;
    margin-top: 1%; 
}

.sectionHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 450px;
    width: 450px;
}

.headerContenu{
    color: white;
}

h1{
    font-size: 150px;
    font-family: 'Metal Mania', cursive;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #9c0000;
}
.intro{
    font-family: 'DotGothic16', sans-serif;
    font-size: 30px;
}

.ancres{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.boutonText{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.bouton{
    height: 35px;
    width: 250px;
    background-color: #9c0000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*                  TRAITS DE SEPARATION                */

.trait1{
    height: 2px;
    width: 50%;
    background-color: #9c0000;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trait2{
    height: 2px;
    width: 50%;
    background-color: #9c0000;
    display: flex;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trait3{
    height: 2px;
    width: 80%;
    background-color: #9c0000;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*                  MAIN                          */

.bar{
    height: 80%;
    width: 100%;
}

.salle{
    height: 80%;
    width: 100%;
}

.escape{
    height: 80%;
    width: 100%;
}



/*                  FOOTER                  */

.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.googleMap{
    height: 400px;
    width: 80%;
    margin-bottom: 100px;
    border: 5px solid #9c0000;
}

.bouton2{
    height: 70px;
    width: 250px;
    background-color: #9c0000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}